<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NetBanking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>CreateProfileServlet</servlet-name>
    <servlet-class>com.jspiders.netbanking.first.CreateProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginPageServlet</servlet-name>
    <servlet-class>com.jspiders.netbanking.first.LoginPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPageServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DepositPageServlet</servlet-name>
    <servlet-class>com.jspiders.netbanking.first.DepositPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositPageServlet</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
 
   <servlet>
    <servlet-name>WithDraw</servlet-name>
    <servlet-class>com.jspiders.netbanking.first.WithDraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithDraw</servlet-name>
    <url-pattern>/withdraw</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckBalance</servlet-name>
    <servlet-class>com.jspiders.netbanking.first.CheckBalance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBalance</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DepositDirect</servlet-name>
    <servlet-class>com.jspiders.netbanking.first.DepositDirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositDirect</servlet-name>
    <url-pattern>/deposit1</url-pattern>
  </servlet-mapping>
  
</web-app>